@import "../../variables.scss";

.cardWrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  padding: 1rem 1.5rem;
  margin: 1rem;

  @media (min-width: $mobile) {
    padding: 2rem;
  }
}
