@import "../../variables.scss";

.headerWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $mobile) {
    position: absolute;
    height: 90%;
  }
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollWrapper {
  display: none;
  margin-top: 1rem;

  @media (min-width: $mobile) {
    display: block;
  }
}
