// screen sizes
$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1440px;

// colours
$border-grey: #f0f0f0;
$grey: #7A7A7A;
$light-grey: #DDDDDD;

$purple: #7d2ae8;
$light-purple: #cfbce8;

$blue: #4ca9e6;

$primary-text: #222222;

$box-shadow: 0px 2px 16px rgba(34, 34, 34, 0.25);
